{:dependencies [[reagent "0.8.1"]
                [re-frame "0.10.6"]
                [day8.re-frame/undo "0.3.2"]
                [day8.re-frame/http-fx "0.1.6"]
                [kibu/pushy "0.3.8"]
                [bidi "2.1.6"]
                [cljs-ajax "0.8.0"]
                [cljsjs/react-leaflet "2.0.1-0"]
                [io.jesi/clojure-polyline "0.4.1"]
                [funcool/promesa "5.1.0"]

                ; todo - make sure these are dev dependencies
                [binaryage/devtools "0.9.8"]
                [cider/cider-nrepl "0.16.0"]]

 :source-paths ["src/cljs"]

 :nrepl {:port 8230}

 :builds {:app
          {:target :browser
           :modules {:base {:entries [run-plotter.core]}}
           :output-dir "resources/public/js/compiled"
           :asset-path "/js/compiled"
           :dev {:compiler-options {:closure-defines {run-plotter.events/API_BASE_URL "http://localhost:3000"}}}
           :devtools {:http-root "resources/public"
                      :http-handler shadow.http.push-state/handle
                      :http-port 8280
                      :after-load run-plotter.core/mount-root}
           :release {:compiler-options {:optimizations :advanced}}}}}