{:run-plotter.server/server
 {:port #long #or [#env PORT 3000]
  :handler #ig/ref :run-plotter.handler/handler}

 :run-plotter.handler/handler
 {:db-client #ig/ref :duct.database.sql/hikaricp}

 :duct.database.sql/hikaricp
 {:auto-commit true
  :read-only false
  :connection-timeout 30000
  :validation-timeout 5000
  :max-lifetime 1800000
  :minimum-idle 2
  :maximum-pool-size 2
  :adapter "postgresql"
  :database-name #or [#env DB_NAME "postgres"]
  :server-name #or [#env DB_SERVER "localhost"]
  :username #or [#env DB_USERNAME "postgres"]
  :password #or [#env DB_PASSWORD "postgres"]
  :port-number #long #or [#env DB_PORT 5432]}

 :duct.migrator/ragtime
 {:database #ig/ref :duct.database.sql/hikaricp
  :strategy :raise-error
  :migrations [#ig/ref :run-plotter.migrations/init]}

 [:duct.migrator.ragtime/sql :run-plotter.migrations/init]
 {:up ["CREATE TABLE routes (
            id         SERIAL  PRIMARY KEY,
            name       TEXT    NULL,
            distance   INTEGER NOT NULL,
            polyline   TEXT    NOT NULL
        );"
       "CREATE TABLE waypoints (
            route_id       INTEGER REFERENCES routes (id) ON DELETE CASCADE,
            waypoint_order INTEGER,
            lat            DECIMAL,
            lng            DECIMAL
       )"]
  :down ["DROP TABLE waypoints;"
         "DROP TABLE routes;"]}}