body {
    background-color: #f9f9f6;
    height: 100vh;
}

.button-panel {
    position: absolute;
    z-index: 10000;
    bottom: 10px;
    left: 12px;
}

.button-panel button {
    margin-right: 6px;
}

.button-panel button[disabled] {
    background-color: #aca1a19c;
    opacity: 1;
}

.radio input {
    margin-right: 5px;
}

.is-checkradio[type=radio]+label::after, .is-checkradio[type=radio]+label:after {
    background: white;
}

.saved-route-row {
    font-size: 1.1em;
}

.saved-route-row:hover {
    background-color: #72bcec;
    font-weight: bold;
    cursor: pointer;
}

.saved-route-row:hover .delete {
    display: block;
}

.saved-route-row .delete {
    display: none;
}

.pace-inputs > div {
    display: inline-block;
    margin-right: 10px;
}

.pace-inputs .input {
    width: 70px;
    font-size: 1.3em;
}

.pace-inputs label {
    display: block;
    text-align: center;
    font-size: 1.1em;
}

.panel {
    background-color: white;
    max-width: 600px;
}

.panel-block {
    padding: 1.2em 1.5em;
}

.panel-block .table {
    font-size: 1.1em;
}

.saved-routes-table {
    width: 100%;
}