.button-panel button {
    margin-right: 6px;
}

.radio input {
    margin-right: 5px;
}

.saved-route-column {
    font-size: 1.3em;
}

.saved-route-column:hover {
    background-color: #72bcec;
    font-weight: bold;
}

.saved-route-column:hover .delete {
    display: block;
}

.saved-route-column .delete {
    display: none;
}